requires tia-bloomberg
requires python 3.6
requires pandas
requires numpy
requires wxpython
requires BLPAPI
Require Bloomberg Terminal
requires a personal module named bloombergBooks which lists all bloomberg books for wash report, otherwise comment this out and make your own bloomberg books array in the wash.py
